@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(236, 236, 236) */
}

[aria-label^='Sidebar'] div {
  /*display: none;
  */
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
}