@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(236, 236, 236) */
}

[aria-label^='Sidebar'] div {
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
}

.PROGRESS::before {
  content: attr(percent-data);
  position: absolute;
  right: 0;
  top: calc(-100% - 10px);
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 0 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}